.mNav{

	background: #e6e9ed;
	background: -moz-linear-gradient(top, #e6e9ed 0%, #faf9fb 32%, #faf9fb 52%, #fafbfb 73%, #dcd7e0 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #e6e9ed), color-stop(32%, #faf9fb), color-stop(52%, #faf9fb), color-stop(73%, #fafbfb), color-stop(100%, #dcd7e0));
	background: -webkit-linear-gradient(top, #e6e9ed 0%, #faf9fb 32%, #faf9fb 52%, #fafbfb 73%, #dcd7e0 100%);
	background: -o-linear-gradient(top, #e6e9ed 0%, #faf9fb 32%, #faf9fb 52%, #fafbfb 73%, #dcd7e0 100%);
	background: -ms-linear-gradient(top, #e6e9ed 0%, #faf9fb 32%, #faf9fb 52%, #fafbfb 73%, #dcd7e0 100%);
	background: linear-gradient(to bottom, #e6e9ed 0%, #faf9fb 32%, #faf9fb 52%, #fafbfb 73%, #dcd7e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9ed', endColorstr='#dcd7e0', GradientType=0 );
	margin:auto;
	padding-top: 15px;
	padding-bottom: 15px;
	position: fixed;
	z-index: 100;
}
.mNav .title-container{
  padding: 10px 10px 10px 10px;
}
.mNav .title-container h3{
	color:#00305B;
	font-weight: bold;
	text-transform: uppercase;
	font:normal normal normal 22px/1.4em 'noticia text',serif;
}
.mNav .icon-title-container{
	margin-top: 10px;
}

.mNav .menu{
	display: flex;
	justify-content:flex-start;
	padding-top: 10px;
}
.menu li{
	display: flex;
}

.mNav .menu li a{
	padding: 10px 10px 10px 10px;
	color: #0F4C85;
	text-decoration: none;
	text-transform: uppercase;
	
}
.mNav .menu li a:hover{
	color:#1b86eb;

}



.parallax{
	position: relative;
	background: url(../img/background_edificios.JPG) no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 900px;

}

.parallax .mask-container{
	color:#fff;
	background-color:#00305555;
	width: 100%;
	position: absolute;
	min-height: 900px;
	margin-top: 60px;
}
.parallax .mask-container .mask-left{
	width: 40%;
	height: 100%;
	background-color: #00305ba8;
	position: absolute;
	
}

.parallax .mask-container .mask-left #titulo{
	margin:320px 20px 100px 130px;
}

.parallax .mask-container .mask-left #titulo h2{
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
}

.parallax .mask-container .mask-left #titulo p{
	font-size: 16px;
	font-weight: normal;
}

#caracteristcas{
	
	width: 100%
	max-width:960px;
	margin: 0 auto;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
     position: relative;
    background: #A13434;
    z-index:2;
    min-height: 300px;
    background-color: #0BD0F4;

}
#caracteristcas .caracteristicas-left{
	width: 40%;
	background-color: #eaf4f6;
	float: left;
	min-height: 600px;
	
	
}
#caracteristcas .caracteristicas-left .subtitulo{
	margin:100px 100px 100px 130px;
}

#caracteristcas .caracteristicas-left h1{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0f4c85;
}
#caracteristcas .caracteristicas-rigth{
	width: 60%;
	background-color: #fff;
	float: left;
	min-height: 600px;
	padding:100px 100px 100px 100px;
	
}

#caracteristcas .caracteristicas-rigth ul li{
	list-style:square;
	color: #00b6ff;
}





#caracteristcas .caracteristicas-rigth ul li span{
	color:#00305B;
	font-weight: bold;
	text-transform: uppercase;
}
#caracteristcas .caracteristicas-rigth ul li p{
	color:#0F4C85;
}

#descripcion{
	
	background-color:#00305b;
	padding-top: 100px;
	z-index: 500;
}
#descripcion h2{
	color:#E3E1FE;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 50px;

}
#descripcion p{
	width: 80%;
	margin: auto; 
	overflow: hidden;
	color:#fff;
	
	font-size: 22px;
	
	padding-bottom: 150px;
	text-align: center;
}

.container{
	margin:auto;
	width: 80%;
	overflow: hidden;
	margin-top:2em;
}

#componentes h1{
	font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f4c85;
}

#componentes ul li{
	list-style: square;
	color: #00b6ff;
}
#componentes ul li span,#componentes ul li p{
	color:black;
}

#componentes ul li span{
	font-weight: bold;
}





@media (max-width: 900px){
	.mNav .menu li a{
		font-size: 14px;
	}

	.parallax .mask-container .mask-left{
		width: 80%;
	}

	.parallax .mask-container .mask-left #titulo{
		margin:320px 30px 100px 100px;
	}

	.parallax .mask-container .mask-left #titulo h2{
		font-size: 30px;
	}

	.parallax .mask-container .mask-left #titulo p{
		font-size: 12px;
		
	}

	#caracteristcas .caracteristicas-left{
		width: 100%;
		min-height: unset;
		
	
	}
	#caracteristcas .caracteristicas-rigth{
		width: 100%;
	}

	.container{
		width: 95%;
	}
}

@media (max-width: 1300px){
	.parallax .mask-container .mask-left #titulo h2{
		font-size: 30px;
	}

	.parallax .mask-container .mask-left #titulo p{
		font-size: 12px;
}



